<h2>BEFORE YOU START</h2>
<div class="under-line"></div>
<ul style="list-style: none;">
<li><a href="/faq" target="_blank">Got questions about SPARX?</a></li>
<li><a href="/privacy" target="_blank">Your privacy?</a></li>
<li><a href="/faq#technical-support" target="_blank">Helpful technical hints and tips</a></li>
</ul>