{#
/**
 * @file
 * Template for completing registration.
 *
 */
#}

<h2>SIGN UP FOR SPARX</h2>
<div class="under-line"></div>
<h2>You’re now logged in and ready to start SPARX!</h2>
<p>You need special software (a plug-in) to access SPARX. During setup your computer will be checked and if the special software isn’t on your computer already, a screen will pop up and ask you to “Run” it.  Downloading can take a while, depending on your internet speed.</p>
<p></p>
<a href="/game" class="register-start-sparx button">START SPARX</a><br>
