<h1>Sparx.org.nz is currently only available to New Zealand residents.</h1>
<p>If you would like information regarding availability of SPARX outside of New Zealand please contact <a href="mailto:support@sparx.org.nz">support@sparx.org.nz</a>.</p>
<p>Thank you<br>SPARX Support</p>