<h2>SIGN UP FOR SPARX</h2> 
<div class="under-line"></div>
<span>SPARX is compatible with most browsers on PC and Mac, and a SPARX app is available to download on <a href="https://itunes.apple.com/nz/app/sparx/id1370746106?mt=8" target="_blank">Apple App Store (iOS)</a> and <a href="https://play.google.com/store/apps/details?id=co.nz.uniservices.sparx" target="blank">Google Play Store (Android)</a>.</span>
<p>If you are not sure if SPARX is right for you, take the <a href="/mood-quiz">Mood Quiz.</a>
To start using SPARX, all you need to do is complete this short form.</p>
<p>Once you’re done, click on the “SIGN ME UP FOR SPARX” button and you’ll be on your way to using SPARX!</p>
<p></p>