<table border="0" style="border-spacing:0; width:600px; background:#f3e7cd; color:#0078c0; font-family:'Arial', Verdana; font-size:14px; line-height:16px">
<tbody><tr><td style="border-spacing:0; padding:0; margin:0"><img src="{{ sparx_base_url }}/{{ sparx_theme_path }}/images/mail-header.jpg" /></td></tr>
<tr><td style="padding:0 20px">
{% if sparx_content_template %}
    {% include sparx_content_template %}
{% else %}
    {{ sparx_content_markup|raw }}
{% endif %}
</tr><tr><td style="border-collapse:collapse; border-spacing:0; padding:0"><img src="{{ sparx_base_url }}/{{ sparx_theme_path }}/images/mail-footer.jpg" /></td></tr>
</tbody></table>