<h2 style="color: #00344d; font-size: 22px; font-weight: normal; margin: 10px 0 25px;">Kia ora and welcome {{ sparx_username }}!</h2>
<p>Thank you for signing up to use SPARX. Well done for taking a major step towards feeling better!</p>
<p>SPARX was made to help young people learn skills to deal with feeling down, depressed or stressed. We suggest you complete one or two modules of SPARX a week.</p>
<p style="color:#00344d"><span>You can access SPARX at {{ sparx_base_url }}</span></p>
<p style="color:#00344d"><span>Your username is {{ sparx_username }}</span></p>
<p style="color:#00344d"><b>Need extra help?</b></p>
<ul>
    <li><b>Talk with an adult you trust like:</b>
        <ul>
            <li>your parent or caregiver</li>
            <li>counsellor or therapist</li>
            <li>a health service (school nurse, family doctor or GP)</li>
            <li>Youthline or Lifeline</li>
        </ul>
    </li>
    <li>If you are having thoughts about hurting or killing yourself, reach out to someone who is trained to help <b>right now</b>
        <ul>
            <li>Homecare Medical free phone 0508 4 SPARX (0508 477 279) / free text SPARX to 3110</li>
            <li>Call 111 if you or someone else might be unsafe <b>right now</b></li>
        </ul>
    </li>
    <li>You can try SPARX alongside getting help now</li>
</ul>
<p>Our “<a href="{{ sparx_base_url }}/help">Get Help Now</a>“ section on the website tells you more about where and how to get the right support for you. Enjoy SPARX and get ready to learn skills to help you feel better.</p>
<p style="color:#00344d"><b>Kia kaha from the SPARX team.</b></p>
<p>If you have received this email in error, or you wish to unsubscribe from receiving further emails, please reply to this message.