@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600');

// Bootstrap library.
@import 'bootstrap';

// Base-theme overrides.
@import 'overrides';

// Base-theme overrides.
@import 'variable-overrides';

// Additional mixins.
@import 'user-mixins';

html, body{
  min-height:100%;
  background: @white;
  font-weight: 400;
}
a, .btn, button, .myanimated{
  .transition(all 300ms ease);
}
a{
  font-weight: 600;
  color: @link-color;
}
a:hover, a:focus{
  font-weight: 600;
  color: @first-base;
  text-decoration: @link-hover-decoration;
}
h1{
  padding:0;
  color: @first-base;
}
h2, h3, h4, h5{
  padding:0;
  color: @first-base;
}
h1{
  font-size: 24pt;
  text-transform: uppercase;
}
h2{
  font-size: 20pt;
  text-transform: uppercase;
}
h3{
  font-size: 18pt;
}
h2.block-title{
  margin:0 0 1em 0;
  /*font-size:@font-size-h3;*/
  text-align: center;
  @media @tablet{
    /*font-size: @font-size-h2;*/
  }
  @media @wide{
    /*font-size: @font-size-h1;*/
  }
}

h1.page-header{
  padding-top: 6.5pt;
  margin-bottom: 15px;
  border-bottom: 1px solid #f4f5f6;
}

#admin-menu{
  font-size:12px;
  display:none;
  @media @tablet{
    display:block;
  }
}
body.admin-menu{
  margin-top:0!important;
  @media @tablet{
    /*margin-top:29px!important;*/
  }
}

.img-container{
  display: block;
  float: left;
  margin: 1.5em 0 2.5em 0;
}

.overlay{
  display:none;
  &.shadow{
    position:absolute;
    display:block;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.5);
    z-index:1000;
  }
}

/* Display for international - Contact us, if not in region */
#block-sparxinternationalvisitorspopup {
  display: none;
}

.block-sparxinternationalvisitorspopup-modal .spb_center {
  margin: auto;
  top: 50%;
  left: 50%;
  margin-left: -150px; /* width of pop up / 2 = in negtaive* as margin left*/
  margin-top: -78px; /* height of pop up / 2 = in negtaive* as margin left*/
}

.home-login{
  background: #ffffff;
  padding: 15px 30px;
  margin-top: 25vh;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);

  .btn-primary{
    float: right;
  }

  .user-login-logo{
    margin-bottom: 15px;
    position: relative;

    img{
      animation: fadein 4s;
      -moz-animation: fadein 4s;
      -webkit-animation: fadein 4s;
      -o-animation: fadein 4s;
    }
  }

  ul {
    list-style: none;
    padding-left: 0;

    li:first-child {
      display: none;
    }

    a{
      font-weight: 300;
      padding: 8px 15px;
    }

    a:hover{
      color: #000000;
      font-weight: 300;
      text-decoration: none;
      background: #eeeeee;
      border-radius: 4px;
    }
  }
}

.home-page-logo{
  padding: 15px 0;
}

.home-content {
  background: @first-base;
  min-height: 300px;
  .container {
    padding-top: 30px;
    padding-bottom: 30px;
    background: url("/sites/default/files/SPARX-faded-logo.png") left top no-repeat;
    background-size: 50%;
  }
}

.home-login-links{
  padding: 15px 0 0;

  a{
    font-weight: 300;
    padding-left: 30px;
  }

  a:hover, a:focus, a:active{
    font-weight: 300;
    text-decoration: none;
  }
}

.user-logged-in {
  .home-content{
    .container {
      background: url("/sites/default/files/SPARX-faded-logo.png") left top no-repeat;
      background-size: 50%;
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
}


.page-user-password {
  .tabs--primary,
  .breadcrumb{
    display: none;
  }

  .btn-default.form-submit{
    float: right;
  }
}

.btn-primary,
.btn-default{
  color: #ffffff;
  background-color: @second-base;
  border-color: darken(@second-base, 5%);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active,
.btn-default:hover, .btn-default:focus, .btn-default:active{
  color: #ffffff;
  background-color: lighten(@second-base, 5%);
  border-color: lighten(@second-base, 5%);
}

.form-control:focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(216, 116, 0, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(216, 116, 0, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(216, 116, 0, 0.6);
}

.header{
  .transition(all 300ms ease);
  color:@white;
  display:block;
  position:fixed;
  width:100%;
  min-height:100%;
  z-index: 1001;
  left:-100%;
  top:0;
  padding:0;
  .header_wrapper{
    .transition(all 300ms ease);
    position: relative;

    width:calc(~'100% - 40px');
    min-height:100%;
    left:-100%;
  }
  .close{
    .transition(all 300ms ease);
    color:@white;
    font-size:16pt;
    width:40px;
    height:40px;
    background:@second-base;
    position: absolute;
    top:0;
    right:100%;
    padding:4px 10px;
    z-index:9999;
    .box-shadow(inset 0px 0px 10px rgba(0, 0, 0, 0.5));
    cursor: pointer;
    opacity:1;
    font-weight:normal;
    padding-top:0.35em;
  }
  &.open{
    left:0;
    top:0;
    .header_wrapper{
      left:0;
      top: 0;

      .topbar {
        #block-block-1 {
          margin-bottom: 0;
          padding: .25em 0;
        }

        #block-search-form {
          margin-top: 0.25em;
          padding-left: 0;
        }
      }

      .topmenu{
        background: #fff;

        a{
          color: @black;
        }
        a:hover, a:focus{
          background-color: @second-base-light;
          color: @white;
        }
      }
    }
    .close{
      right:0;
    }
  }
  .container{
    width:100%;
  }
  .topbar{
    background:@white;
    color:@black;
    padding:0.25em 0 0.25em 0;

    #header-logo{
      padding-left: 0;
      padding-right: 0;
      text-align: center;
    }

    #header-slogan{
      padding-left: 0;
      padding-right: 0;
      margin-top: 10px;

      h1{
        font-size: 14pt;
        letter-spacing: -1px;
        margin-top: 25px;
        color: @second-base;

        .size-one{
          font-size: 26pt;
          font-weight: 600;
          color: @first-base;
        }

        .size-two{
          font-weight: 500;
          font-size: 24pt;
          color: @second-base;
        }

        .size-three{
          font-size: 25pt;
          font-weight: 600;
          color: rgb(228, 64, 52);
        }

        .size-four{
          font-size: 25pt;
          font-weight: 500;
          color: @first-base;
        }
      }
    }

    .logo{
      padding:1em 0;
      margin:0.5em 0 2em 0;
      border-top:1px solid @gray-light;
      border-bottom:1px solid @gray-light;
      text-align:center;
      img{
        height: auto;
      }
    }
  }
  .topmenu{
    padding:0;

    .mainmenu{
      padding:0;
      .nav{
        padding:0;
        margin:0;
        text-align: center;
        li{
          display: block;
          a{
            display: block;
            color: @black;
            margin:0;
            padding:1em 1.5em;

            text-transform: uppercase;
            font-weight: 400;
            border-bottom:none;
          }
          a:hover, a:focus, a.is-active {
            background-color: @first-base;
            color: @white;
          }
        }
        .dropdown-menu{
          padding: 0;
          background-color: @first-base;
          border: 0;
          margin: 0;
          border-radius: 0;

          li{
            display: block;
            width: 100%;
            a{
              width: 100%;
              background-color: @first-base;
              color: @white;
            }
            a:hover, a:focus{
              color: @white;
              background-color: @second-base-light;
            }
          }

        }

        @media (max-width: @screen-sm-min) {
          .dropdown-menu{
            width: 100%;
          }
        }
      }
    }
  }
  @media @normal{
    z-index: 10;
    position:relative;
    width:100%;
    min-height:auto;
    left:0;
    background:@white;
    color:@gray-base;
    padding:0;
    .header_wrapper{
      position: relative;
      width:100%;
      min-height:auto;
      left:0;
      top: 0;
    }
    &:after{
      display:none;
    }
    .close{
      display: none;
    }
    a{
      color:@black;
    }
    .container{
      width:970px;
      position: relative;
    }
    .topbar{
      background-color:@white;
      color:@black;
      padding:0.25em 0 0.25em 0;
      .search{
        padding:0;
        display:block;
      }
      .social{
        text-align: right;
        padding:3px 0 0 15px;
      }

      .logo{
        padding:0 15px 0 0;
        margin:0;
        border-top:none;
        border-bottom:none;
        text-align:left;
      }
    }
    .topmenu{
      padding:0;

      .mainmenu{
        padding:0;
        .nav{
          text-align: center;
          li{
            display: inline-block;
            a{
              display: block;
              color: @black;
              margin:0;
              padding:1em 1.5em;

              text-transform: uppercase;
              font-weight: 400;
              border-bottom:none;
            }
            a:hover, a:focus, is-active {
              background-color: @first-base;
              color: @white;
            }
          }
          .dropdown-menu{
            padding: 0;
            background-color: @first-base;
            border: 0;
            margin: 0;

            li{
              display: block;
              width: 100%;
              a{
                width: 100%;
                background-color: @first-base;
                color: @white;
              }
              a:hover, a:focus{
                color: @white;
                background-color: @second-base-light;
              }
            }

          }
        }
      }
    }
  }

  @media @wide{

    .container{
      width:1170px;
    }
  }

  @media @xwide{
    .container{
      width:1170px;
    }
  }

}

.mobile_header{
  display:block;
  padding:0.5em 15px;
  background:@second-base;
  color:@white;
  vertical-align: middle;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  .box-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  @media @normal{
    display:none;
  }
  .menu-btn{
    display: inline-block;
    font-size: 18pt;
    font-weight: normal;
    margin-right:0.5em;
    padding:0.25em;
    border:1px solid rgba(255, 255, 255, 0.33);
    .border-radius(3px);
    width:40px;
    height:40px;
    text-align: center;
    cursor: pointer;
  }
  .header-title{
    display: inline-block;
    font-size: @font-size-large;
    line-height: 1;
    font-weight: 300;
    padding:0.25em 0;
  }
  img{
    float: right;
  }
}

.need-help-now{
  p{
    color: @first-base;
    font-size: 20pt;
    font-weight: 600;
    text-align: center;
  }

  .btn-primary:focus, .btn-primary:hover{
    font-weight: 400;
  }
}

#block-userlogin{
  color: @white;
  label{
    font-weight: 300;
  }
  h2.block-title{
    color: @black;
    text-align: left;
    font-weight: 600;
    line-height: 36px;
    text-transform: uppercase;
    margin-top: 60px;
  }

  #user-login-form--2{
    background: @first-base;
    padding: 30px;
    color: #fff;
    border-radius: 5px;
  }

  .form-submit{
    float: right;
  }

  ul{
    list-style: none;
    padding: 0;
  }

  a{
    color: @white;
  }
  
  a:hover, a:focus, a:active{
    color: lighten(@second-base, 15%);
    text-decoration: none;
  }

  #login-block-signup{
    a{
      color: #000;
      background-color: @gray-more-light;
      border-color: @gray-lighter;
      display: inline-block;
      margin-bottom: 0;
      font-weight: 400;
      text-align: center;
      vertical-align: middle;
      touch-action: manipulation;
      cursor: pointer;
      background-image: none;
      border: 1px solid transparent;
      white-space: nowrap;
      padding: 6px 12px;
      font-size: 10.5pt;
      line-height: 1.42857143;
      border-radius: 4px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    a:hover, a:focus, a:active{
      color: #000;
      background-color: darken(@gray-more-light, 5%);
      border-color: darken(@gray-lighter, 5%);
    }
  }
}

.home-about-sparx{
  color: @white;
  h1{
    color: @white;
    font-size: 20pt;
    font-weight: 600;
  }

  h2{
    color: @white;
    font-size: 14pt;
    font-weight: 600;
  }
}

.sparx-demo-video-mood-quiz{
  color: @white;
  h2{
    color: @white;
    font-size: 14pt;
    font-weight: 600;
    margin: 1em 0;
  }

  iframe{
    width: 100%;
  }

  #mood-quiz{
    a {
      background: #ce4d2b;
      border-color: darken(#ce4d2b, 5%);
      color: white;
      width: 100%;
      display: block;
      padding: 28px;
      text-align: center;
      border-radius: 5px;
      font-size: 14pt;
      font-weight: 600;
    }

    a:hover, a:focus, a:active{
      text-decoration: none;
      background: darken(#ce4d2b, 10%);
      border-color: darken(#ce4d2b, 15%);      
    }
  }

  #pm-ymhp{

    #ymhp-image-container {
      min-width: 200px;
      text-align: center;
      height: auto;
      background: @white;
    }
  }
}

#drop-down-login-wrapper{
  margin-top: 5px;
  a.button_dd{
    color: #000;
    margin: 0;
    padding: 0.5em 1.5em 0.5em 1em;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid #348aca;
  }

  .dropdown{
    min-width: 200px;
    top: 50px;
    -o-border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

    ul{
      list-style: none;
      padding-left: 0;
      clear: both;
      
      li{

        border-bottom: 0;
        a{
          color: @first-base;
        }
        
        a:hover, a:focus, a:active{
          color: @second-base;
          text-decoration: none;
        }
        
      }
    }

    .form-submit{
      position: relative;
      margin-top: 0px;
    }
  }

  #login-block-signup{
    hr{
      margin-top: 5px;
      margin-bottom: 5px;
    }

    a{
      color: @first-base;
    }

    a:hover, a:focus, a:active{
      color: @second-base;
      text-decoration: none;
    }
  }

    .form-submit {
      float: right;
      margin-top: 0px;
      margin-bottom: 10px;
  }
}

.user-logged-in{

  #drop-down-login-wrapper {

    .dropdown{
      background: #348aca;
      padding: 0;
      border: 0;

      ul{
        margin-bottom: 0;
        li{
          margin-bottom: 0;
          padding: 1em 1.5em;
          text-transform: uppercase;
          font-weight: 400;
          background: #348aca;

          a{
            color: @white;
            font-weight: 400;
          }
        }

        li:hover{
          background-color: #2a6ea1;

          a{
            color: @white;
          }
        }
      }
    }

  }
}

#webform-client-form-25{
  .form-submit{
    float: right;
  }
}

.start-sparx-after-login{
  h2.block-title{
    color: @black;
    text-align: left;
    font-weight: 600;
    line-height: 36px;
    text-transform: uppercase;
    margin-top: 60px;
  }

  #start-sparx-button-container{
    text-align: center;

    a.btn{
      padding: 1em 2em;
      font-weight: 400;
      text-transform: uppercase;
    }

    a.btn:hover, a.btn:focus, a.btn:active{
      font-weight: 400;
    }
  }
}


.footer{
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 30px solid #348aca;
  border-bottom: 3px solid @first-base;
}
.copyright{
  padding:1em 0;
  color:@black;
  font-size: @font-size-small;

  p{
    margin-top: 0.25em;
  }

  .copyright-text{
    margin-bottom: 0;
  }

  .copyright-contact-sparx{
    a {
      text-decoration: underline;
    }
    a:hover, a:focus{
      color: darken(@first-base, 15%);
    }
  }

  .social-media-links{
    font-size: 14pt;
    font-weight: 600;
    color: @first-base;

    span{
      padding: 0 5px;

      img{
        max-width: 25px;
        height: auto;
      }
    }
  }
}

.content {
  padding: 1em 0;
  background: @white;

  .container {
    /* background: #f9f8f8; */
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.front {
  .content{
    h2{
      font-size: 18pt;
    }
  }
}

.breadcrumb{
  margin: 0;
  padding: 8px 0;
  font-size: 9pt;
  background-color: transparent;
}

.drop-down-login-container{
  .menu{
    li:first-child{
      display: none;
    }
  }
}

/* Fixing existing content */

.video img {
  display: none;
}

/* Style from Old Theme */

/* mood quiz */

.page-node-15 p {
  margin: 1em 0 0.25em;
}

#sparx-moodquiz-div {
  background: white;
  margin-left: 0;
  padding: 0.5em 1em;
}
#sparx-moodquiz-div .under-line {
  background-position: 0 -207px;
  width: auto;
}
#sparx-moodquiz-div h1 {
  float: left;
  margin-left: 27px;
  color: #00344d;
  font-size: 18px;
  font-weight: bold;
}
.mood-q ul.progressbar {
  margin-left: 90px;
}
.mood-q li {
  float: left;
  list-style: none;
  margin: 0 0.6em;
  color: #fff;
  text-decoration: none;
  width: 50px;
  height: 48px;
  background: url(../images/sprite.png) 0 -133px;
  display: inline-block;
  line-height: 2em;
  font-size: 2em;
  padding-left: 0.7em;
}
.mood-q li.current-q {
  background-position: -49px -133px;
}
#sparx-moodquiz-div .quiz p {
  margin: 1em 0 0;
  font-size: 15px;
}
#sparx-moodquiz-div table {
  margin: 2em 0;
}
#sparx-moodquiz-div tr:nth-child(odd) {
  background: #eee;
}
#sparx-moodquiz-div tr.title {
  background: #008fd5;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}
#sparx-moodquiz-div td {
  padding: 1em;
  border-left: 1px #eee solid;
  width: 30%;
}
#sparx-moodquiz-div tr:nth-child(odd) td {
  border-left: 1px #fff solid;
}
#sparx-moodquiz-div th {
  width: 70%;
  padding: 1em;
  font-weight: normal;
}
#sparx-moodquiz-div .form-submit {
  width: 162px;
  background-position: 0 -38px;
  margin-top: 1em;
  line-height: 33px;
  display: block;
}
#sparx-moodquiz-div .form-submit:hover {
  background-position: 0 -251px;
}
#edit-start-quiz.form-submit {   /* Start button */
  background-position: -105px -75px;
  width: 82px;
  margin-top: 1em;
}
#edit-start-quiz.form-submit:hover {
  background-position:-188px -75px;
}
#quiz-footer {
  font-size: 11px;
  padding-top: 2em;
  font-style: italic;
}

.underline, .under-line {
  width: 352px;
  height: 3px;
  background: url(../images/sprite.png) no-repeat 0 -211px;
  margin: 0.8em 0 1.2em;
}

/* game */
.path-game {

  #block-system-main {
    padding: 0px;
  }
  #block-system-main {
    background: transparent;
  }
  #block-system-main,
  #sparx-game,
  #unity-player {
    width: 960px;
    height: 600px;
  }
  .page-header {
    display: none;
  }
}

@media (max-width: 991px) {
  .content{
    padding-top: 60px;
  }

  .header .topbar .logo{
    padding: 0.25em;
    margin: 0;
  }

  .header .topmenu .mainmenu .nav li a{
    padding: 0.5em;
    text-align: center;
  }
  #drop-down-login-wrapper{
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 0;
  }
  .user-logged-in #drop-down-login-wrapper .dropdown ul li{
    padding: 0.5em;
  }
}

/* Style for Chat Button */
.chat-btn {
  background: #ec971f;
  border-color: #df8a13;
  border-radius: 6px 6px 0px 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  position: fixed;
  bottom: 0;
  right: 5px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.chat-btn:hover{
  background-color: #eea237;
  border-color: #eea237;
  text-decoration: none;
  color: #ffffff;
}

#sparx-moodquiz-div {

  legend {
    margin-bottom: 0.5em;
  }

  legend span {
    color: black;
  }
}

@media (max-width: 560px) {

  #sparx-moodquiz-div {
    h1{
      clear: both;
      width: 100%;
      margin: 0.5em 0;
    }

    ul.progressbar{
      margin: 0;
      width: 100%;
      float: left;
      padding: 0;

      li{
        margin: 0.25em;
      }
    }
  }
  #block-userlogin h2.block-title{
    margin-top: 0;
  }

  #sparx-moodquiz-div {
    margin-left: 0;
    padding: 0.5em 0 1em;
  }

  img, iframe{
    max-width: 100%;
  }

  .content-col{
    padding-left: 0;
    padding-right: 0;
  }

  h1{
    font-size: 24pt;
  }

  h2, h3, h4, h5 {
    margin: .5em 0 .5em 0;
  }
}