{% extends "block.html.twig" %}
{#
/**
 * @file
 * Default theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 *
 * @ingroup themeable
 */
#}
{% block content %}
    <section class="hidden-xs">
    {% if site_logo %}
        <a href="#{#{ path('<front>') }#}" title="{{ 'SPARX'|t }}" rel="home">
            <img src="/themes/nihi_sparx/assets/images/sparx_logo_landscape.png" alt="{{ 'Home'|t }}" class="desktop-logo" />
        </a>
    {% endif %}
    {{ site_slogan }}
    </section>
{% endblock %}