{% extends "block--bare.html.twig" %}
{#
/**
 * @file
 * Default theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 *
 * @ingroup templates
 */
#}
{% block content %}
  <div class="branding branding-mobile visible-xs">
    {% if site_logo %}
      <div class="site-logo">
        <a class="logo navbar-btn" href="#{#{ path('<front>') }#}" title="{{ 'Home'|t }}" rel="home">
          <img src="/themes/nihi_sparx/assets/images/sparx_logo_landscape.png" alt="{{ 'Home'|t }}" />
        </a>
      </div>
    {% endif %}
    {% if site_name %}
      <div class="site-name">
        <a class="name navbar-brand" href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
      </div>
    {% endif %}
    {% if site_slogan %}
      <div class="site-slogan">
        <p class="navbar-text">{{ site_slogan }}</p>
      </div>
    {% endif %}
  </div>
{% endblock %}
