{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup themeable
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}

{# Top Bar #}
{% if page.header %}
    <div class="top-bar container-fluid">
        {% block header %}
            {{ page.header }}
        {% endblock %}
    </div>
{% endif %}

{# Navbar #}
{% if page.navigation or page.navigation_collapsible %}
    {% block navbar %}
        {%
        set navbar_classes = [
        'navbar',
        theme.settings.navbar_inverse ? 'navbar-inverse' : 'navbar-default',
        theme.settings.navbar_position ? 'navbar-' ~ theme.settings.navbar_position|clean_class : '',
        ]
        %}
        <header{{ navbar_attributes.addClass(navbar_classes) }} id="navbar" role="banner">
            <div class="navbar-header {{ container }}">
                {{ page.navigation }}
                {# .btn-navbar is used as the toggle for collapsed navbar content #}
                {% if page.navigation_collapsible %}
                    <!--
                    <div class="home-icon visible-xs">
                        <a href="#"><img src="/themes/nihi_sparx/logo.png"></i></a>
                    </div>
                    -->
                    <!--
                    <div class="site-login-mobile visible-xs">
                      <a href="https://stage.portal.habits.auckland.ac.nz/Portal/" class="btn btn-primary login-button">Login</a>
                    </div>
                    -->
                    <!--
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">{{ 'Toggle navigation'|t }}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          -->

                    <div class="container-fluid mobile_menu visible-xs">

                        <div class="row row_align_center">

                            <div class="col-xs-9 text-center">
                                                                    
                                <a href="/start-sparx">SIGN UP / LOGIN</a>

                            </div>

                            <div class="col-xs-3 text-center">

                                <a id="toggle-icon" class="toggle responsive-menu-toggle-icon visible-xs" title="Menu" href="#off-canvas">
                                    <!--<span class="icon"></span> <span class="label">Menu</span> -->
                                    <span class="anim-icon"></span>
                                    <span class="anim-icon"></span>
                                    <span class="anim-icon"></span>
                                </a>

                            </div>

                        </div>

                        <div class="row row_align_center">

                            <div class="col-xs-12 text-center">
                              
                                <a href="/help" class="btn mobile_help_button">NEED HELP NOW?</a>
                                
                            </div>

                        </div>
                        
                    </div>
                    
                {% endif %}
            </div>

            {# Navigation (collapsible) #}
            {% if page.navigation_collapsible %}
                <div id="navbar-collapse" class="navbar-collapse collapse">
                    {{ page.navigation_collapsible }}
                </div>
            {% endif %}

            

        </header>
    {% endblock %}
{% endif %}

{% if is_front  %}
    <!-- FRONT PAGE CONTENT -->
    <section class="home-content">
        <div class="container">
            <section class="content-col col-xs-12">
                {{ page.home_content }}
            </section>
        </div>
    </section>
{% endif %}

<!-- REST OF THE PAGE CONTENT -->

<section class="content">

    <div class="nav_gradient">&nbsp;</div>

    <div class="container">
        <section class="content-col col-xs-12">
            {% if (node.label is not empty) or (page['#title'] is not empty) %}
                <div class="page-header-text-container">
                    <h1 class="page-header"><span>{% if (node.label is not empty) %}{{ node.label }}{% else %}{{ page['#title'] }}{% endif %}</span></h1>
                </div>
            {% endif %}

            <a id="main-content"></a>
            {{ title_prefix }}

            {{ title_suffix }}
            {{ messages }}
            {% if tabs is not empty %}
                {{ tabs }}
            {% endif %}
            {% if page is not empty %}
                {{ page.help }}
            {% endif %}
            {% if action_links is not empty %}
                <ul class="action-links">{{ action_links }}</ul>
            {% endif %}
            {{ page.content }}
        </section>
    </div>
</section>

<!-- FOOTER -->
<div id="footer-area" class="container-fluid">

        {{ page.footer }}

</div>

<!-- COPYRIGHT -->
<footer class="copyright">
    <div class="container">
        <section class="content-col col-xs-12">
            {{ page.copyright }}
        </section>
    </div>
</footer>