#drop-down-login-wrapper {
  position: relative;
  float: right;
  color: #000;
}

#drop-down-login-wrapper a {
  color: #000;
}

#drop-down-login-wrapper .button_dd {
  display: block;
  width: auto;
/*  height: 14px; */
  padding: 5px 10px;
  line-height: 14px;
  text-decoration: none;
  font-size: 0.929em;
  text-transform: uppercase;
  color: #3a358f;
  font-weight: bold;
  background: #fff;
}

#drop-down-login-wrapper #edit-actions  .button_dd {
  display: block;
  width: auto;
  height: 25px;
  padding: 5px 10px;
  line-height: 14px;
  text-decoration: none;
  font-size: 0.929em;
  text-transform: uppercase;
  color: #3a358f;
  font-weight: bold;
  background: #fff;
}

#drop-down-login-wrapper .button_dd span {
  display: block;
}

#drop-down-login-wrapper.enable-dd .button_dd span span {
  background: url('../images/arrow.png') 100% 50% no-repeat;
  padding: 0 10px 0 0;
}

#drop-down-login-wrapper.enable-dd .open span span {
  background: url('../images/arrow-up.png') 100% 50% no-repeat;
}

#drop-down-login-wrapper .dropdown {
  display: none;
  position: absolute;
  z-index: 999;
  width: auto;
  padding: 10px 20px;
  background: #fff;
  border: #ddd 1px solid;
  right: 0;
  top: 30px;
  box-shadow: 2px 2px 10px #c8c8c8;
  -o-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#drop-down-login-wrapper .dropdown input.form-text {
  border-color: #ccc;
}

#drop-down-login-wrapper .dropdown .drop_down_login_reset_password {
  float: left;
  border-right: 1px solid;
  padding-right: 4px;
  margin-right: 6px;
}

#drop-down-login-wrapper .dropdown .form-submit {
  margin-top: -16px;
  position: absolute;
}

#drop-down-login-wrapper .dropdown ul li {
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
  min-width: 100%;
}

#drop-down-login-wrapper .dropdown a {
  white-space: nowrap;
}

#drop-down-login-wrapper .dropdown ul li.last {
  border-bottom: none;
}
