<section id="block-system-main" class="block block-system clearfix">
    <div id="sparx-game">
        <div id="unityPlayer">
            <div class="mood setup missing clearfix">
                <div class="unity">
                    <h2>THIS SEEMS TO BE THE FIRST TIME YOU ARE USING SPARX ON THIS COMPUTER.</h2>
                    <p>Please click on Setup & Use below to download the plugin that will allow you to use SPARX.</p>
                    <a href="http://unity3d.com/webplayer/" class="unity-btn button">SETUP &amp; USE</a>
                </div>
            </div>
        </div>
        <div id="unityGL" class="template" style="display:none;">
            <div id="gameContainer" style="width: 960px; height: 600px"></div>
        </div>
    </div>
</section>