<div class="under-line"></div>
<div class="mood-q clearfix">
    <h1>PROGRESS</h1>
    <ul class="progressbar">
        {% for question_cnt in sparx_start_num..sparx_end_num %}
            <li{% if question_cnt == sparx_current_question %} class="current-q"{% endif %}>{{ question_cnt }}</li>
        {% endfor %}
    </ul>
</div>
<div class="under-line"></div>