<table>
    <tr class="title"><td>Question</td><td>Answer</td></tr>
    {% for question_cnt in sparx_start_num..sparx_end_num %}
        <tr><th>({{ question_cnt }}) {{ sparx_questions[question_cnt] }}</th><td>{{ sparx_responses[question_cnt] }}</td></tr>
    {%  endfor %}
    <tr class="title"><td>Total Mood Quiz Score</td><td class="mood-score">{{ sparx_score }} / {{ sparx_max_response_num * sparx_end_num }}</td></tr>
</table>