{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup themeable
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<!-- HEADER -->
<header class="header">
  <div class="header_wrapper">
    <section class="topbar">
      <div class="container">
        {{ page.topbar }}
      </div>
    </section>
    <section class="topmenu">
      <div class="container">
        {{ page.topmenu }}
      </div>
    </section>
  </div>
  <span class="close">✕</span>
</header>
<div class="overlay"></div>

<!-- MOBILE HEADER -->
<section class="mobile_header">
  <div class="m_header"><span class="menu-btn fa fa-bars"></span><span class="header-title">SPARX{# //print $title; #}</span><a href="/"><img alt="SPARX Logo" title="SPARX Logo" src="/sites/default/files/SPARX-Mobile-Logo.png"></a></div>
  {{ page.mobile_header }}
</section>

<!-- GENERAL PAGE CONTENT -->
<section class="content">
  <div class="container">
    <section class="content-col col-xs-12>">

      <a id="main-content"></a>
      {{ title_prefix }}

      {{ title_suffix }}
      {{ messages }}
      {% if tabs is not empty %}
        {{ tabs }}
      {% endif %}
      {% if page is not empty %}
        {{ page.help }}
      {% endif %}
      {% if action_links is not empty %}
        <ul class="action-links">{{ action_links }}</ul>
      {% endif %}
      {{ page.content }}
    </section>
  </div>
</section>

{% if is_front  %}
  <!-- FRONT PAGE CONTENT -->
  <section class="home-content">
    <div class="container">
      <section class="content-col col-xs-12">
        {{ page.home_content }}
      </section>
    </div>
  </section>
{% endif %}

<!-- FOOTER -->
<footer class="footer">
  <div class="container">
    <section class="content-col col-xs-12">
      {{ page.footer }}
    </section>
  </div>
</footer>

<!-- COPYRIGHT -->
<footer class="copyright">
  <div class="container">
    <section class="content-col col-xs-12">
      {{ page.copyright }}
    </section>
  </div>
</footer>
