<ul><li><a href="{{  path('user.pass') }}" title="Request new password via e-mail.">Request new password</a></li></ul><div id="login-block-signup"><hr><a href="{{ path('sparx_register_profile.register_form') }}">No account yet? SIGN UP</a></div>