$navbar-link-bg-color-hover: lighten($navbar-color, 10%);
.navbar-nav {
  float: none;

  li {
    a {
      text-align: center;
      background-color: $navbar-color;
      display: block;
      margin: 0;
      padding: 1em 1.5em;
      font-weight: 400;

      &:link,
      &:visited,
      &:active {
        color: $color-white;
      }

      &:hover {
        background-color: $navbar-link-bg-color-hover;
      }

      &.is-active {
        color: $color-white;
      }
    }
  }
  li.active {
    a {
      &:link,
      &:visited,
      &:active {
        color: $color-white;
        background-color: $navbar-link-bg-color-hover;
      }
    }
  }

  @media screen and (min-width:768px) {
    .navbar-nav .dropdown:hover>.dropdown-menu {
      display:block;margin:0
    }
  }
}

@include screen-xs-down() {
  .navbar-nav li a {
    padding-left: 10%;
  }
}

@include screen-sm-up() {
  .navbar-nav {
    li {
      a {
        font-size: 10px;
        font-weight: 600;
        text-transform: uppercase;
        background-color: $color-white;

        &:link,
        &:visited,
        &:active {
          color: $color-black;
        }

        &:hover {
          background-color: $color-white;
        }

        &.is-active {
          color: $color-black;
        }
      }
    }
    li.active {
      a {
        &:link,
        &:visited,
        &:active {
          color: $color-black;
          background-color: $color-white;
        }
      }
    }
  }
}
