$navbar-toggle-link-color: $color-white;
$navbar-toggle-hover-color: $color-dusty-gray;

.navbar-toggle {
  float: none;
  border: none;
  transition: background-color 0.4s;
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;

  .icon-bar {
    background-color: $navbar-toggle-link-color;
    width: 20px;

    &:last-child {
      width: 10px;
    }
  }

  &:link,
  &:visited,
  &:focus {
    background-color: transparent;

    .icon-bar {
      background-color: $navbar-toggle-link-color;
    }
  }

  &:hover {
    background-color: transparent;

    .icon-bar {
      background-color: $navbar-toggle-hover-color;
    }
  }

  &[aria-expanded='true'] {
    .icon-bar {
      background-color: $navbar-toggle-hover-color;
    }
  }
}
