$color-white: #FFFFFF;
$color-black: #000000;
$color-teal: #2FA58A;
$color-gray: #595A5C;
$color-purple: #9B4B86;
$color-text: #8C8C8C;
$color-link: #2699FB;

$color-congress-blue: #00467F;



$color-main: #358ED7;
$color-second: #43484D;
$color-text: #86939E;

$color-button-one: #39ADD1;
$color-button-one: #838CC7;

$color-light-bg: #E1E8EE;
$color-border: #696969;

$color-menu-text: #A6A6A6;
$color-menu-active: #00284C;
$color-menu-border: #E1E8EE;
$color-footer-bg: #E0E0E0;
$color-light-purple: #838CC7;
$primary-button-color: #009CDC;

$green-button-color:#39ADD1;
