@mixin screen-xs-down {
  @media only screen and (max-width : #{$screen-xs-max}) {
    @content
  }
}

@mixin screen-sm-up {
  @media only screen and (min-width : #{$screen-sm-min}) {
    @content
  }
}

@mixin screen-sm-down {
  @media only screen and (max-width : #{$screen-xs-max}) {
    @content
  }
}

@mixin screen-md-up {
  @media only screen and (min-width : #{$screen-md-min}) {
    @content
  }
}

@mixin screen-md-down {
  @media only screen and (max-width : #{$screen-sm-max}) {
    @content
  }
}

@mixin screen-lg-up {
  @media only screen and (min-width : #{$screen-lg-min}) {
    @content
  }
}

@mixin screen-lg-down {
  @media only screen and (max-width : #{$screen-md-max}) {
    @content
  }
}