@import 'components/branding';
@import 'components/navbar';
@import 'components/content';
@import 'components/footer';

/*
header{
  max-width: 900px;
  margin: 0 auto;
}
*/

html, body{
  overflow-x: hidden;
}

body {
  font-family: $font-roboto;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;

  p, ul li{
    font-size: 20px;
    font-weight: 300;
    color: $color-text;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $color-main;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 10px;
  }

  h1{
    font-size: 45px;
    font-weight: 300;
  }
  h2{
    font-size: 26px;
    font-weight: 500;
  }
}

a{
  color: $color-main;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

a:hover, a:focus{
  text-decoration: none;
  color: darken($color-main, 5%);
}

hr{
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #8C8C8C;
}

.page-header {
  margin: 10px 0;
}

.main-container {
  flex: auto;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  min-height: 50vh;

  max-width: 900px;
  margin: 0 auto;

  .container {
    padding: 0;
  }
}
/* General styles */
.btn-primary,
.btn-default{
  color: $color-white;
  background-color: $primary-button-color;
  border-color: $primary-button-color;
  border-radius: 5px;
  padding: 8px 30px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-default:hover,
.btn-default:focus{
  color: $color-white;
  background-color: darken($primary-button-color, 5%);
  border-color: darken($primary-button-color, 5%);
}

h1.page-header{
  border-bottom: 0;
}

.path-frontpage{
  h1.page-header{
    border-bottom: 0;
    text-align: center;
    font-size: 80px;
    margin-top: 60px;
  }
}

.bigger-content-text{
  font-size: 34px;
}

.body-thin-text{
  font-weight: 100;
  color: $color-second;
}

.body-thick-text{
  font-weight: 500;
  color: $color-second;
}


/* Game loader */
.webgl-content .logo.Dark{
background-image: url('/libraries/sparx_webgl/TemplateData/progressLogo.Light.png') !important;
}
.webgl-content .progress.Dark .full{
background-image: url('/libraries/sparx_webgl/TemplateData/progressFull.Light.png') !important;
}
.webgl-content .progress.Dark .empty{
background-image: url('/libraries/sparx_webgl/TemplateData/progressEmpty.Light.png') !important;
}
.webgl-content{
border: 1px solid black;
}


/* Bootstrap Slider */

.slider.slider-horizontal{
  width: 100% !important;
}

.shaded-box-gray{
  background-color: #E1E8EE;
  padding: 15px;
}

#use-the-slider{
  font-weight: 500;
  color: #43484D;
}

#mood-slider-container{
  margin-bottom: 30px;
  .mood-label{
    font-size: 20px;
    font-weight: bolder;
    color: #86939E;
  }
}

.btn-primary.green-color{
  background-color: $green-button-color;
  border-color: $green-button-color;
}
.btn-primary.green-color:hover,
.btn-primary.green-color:focus{
  background-color: darken($green-button-color, 5%);
  border-color: darken($green-button-color, 5%);
}

/* Top Bar */

.mobile_menu {
  margin: 0px !important;
  padding: 0px !important;
  font-size: 12px;
}

.top-bar{
  padding: 15px 5%;

  #block-nihi-sparx-displaylogoinheader{
    float: left;
  }
  #block-needhelpnow{
    float: right;

    #need-help-now-btn{
      margin-top: 2rem;
      font-size: 18px;
      text-transform: uppercase;
    }
  }
}

.nav_gradient {
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #00000005, #00000000);
}

/* Sticky Menu Style */

.logo_container {
  @media(min-width: 415px) {
    width: 300px; 
  }
  @media(max-width: 414px) {
    width: 175px; 
  }
}

.top-bar.fixed-header{
  position: fixed;
  top: 0;
  left: 0;

  @media(min-width: 415px) {
    width: 100%;
  }
  @media(max-width: 414px) {
    width: 50%;
    #header-logo {      
      height: 82px;   
      img{
        max-height: 50px;
      } 
    }
  }

  z-index: 1000;
  background: $color-white;
  padding: 6px 5%;

}
.navbar.fixed-header{
  position: fixed;

  @media(min-width: 415px) {
    width: 100%;
    top: 90px;
    left: 0;
  }
  @media(max-width: 414px) {
    width: 50%;
    top: 0;
    right: 0;
  }
  
  min-height: 40px;
  z-index: 1000;

  nav{
    margin-top: 0;
  }
}



/* Menu Style */

.navbar-default {
  background-color: $color-white;
  border-color: $color-white;
}
.navbar-header.container{
  background: #fff;

  .home-icon{
    float: left;
    margin: 15px 30px 15px 0;
  }

  .site-login-mobile{
    float: left;
    margin: 18px 30px 15px 0;

    a{
      color: $color-white;
      background-color: $color-second;
      border-color: $color-menu-border;
      text-transform: uppercase;
      padding: 5px 15px;
    }
    a:hover, a:focus, a:active{
      color: $color-white;
      background-color: darken($color-second, 10%);
      border-color: $color-main;
    }
  }

  .navbar-toggle{
    padding: 0;
    border: 0;
    margin: 20px 0 15px 0;

    .icon-bar {
      background-color: $color-gray;
      height: 3px;
    }
  }

  .navbar-toggle .icon-bar+.icon-bar {
    margin-top: 5px;
  }
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus{
  background-color: $color-main;
}

/* Style for Menu */
.responsive-menu-block-wrapper{
  text-align: center;
  margin-top: 20px;

  .horizontal-menu {
    li {
      font-family: 'Barlow', sans-serif;;
      font-weight: 300;
      font-size: 18px;
      text-transform: uppercase;
      a {
        color: $color-menu-text;
      }
      a:hover, a:focus, a.is-active {
        color: $color-menu-active;
        font-weight: 500;
        background-color: transparent;
      }
    }
    li.menu-item--active-trail{
      a {
        color: $color-menu-active;
        font-weight: 500;
      }
    }
  }

  .horizontal-menu > li li > a{
    text-transform: uppercase;
  }

  .horizontal-menu > li.menu-item--expanded > a:after{
    position: absolute;
    top: 12px;
    right: 0px;
    content: '';
    border-right: 6px solid transparent;
    border-top: 6px solid #A6A6A6;
    border-left: 6px solid transparent;
  }

  .horizontal-menu > li ul{
    background-color: $color-main;
    min-width: 210px;

    a{
      color: $color-white;
      padding-top: 5px;
      padding-bottom: 5px;
      text-align: left;
    }
  }

  a:hover, a:focus{
    text-decoration: none;
    background-color: lighten($color-main,5%);
    color: $color-white;
  }

  .menu-item--expanded.sfHover > a{
    color: $color-menu-active;
    font-weight: 500;
  }

  .menu-item--expanded.sfHover ul{
    a {
      color: $color-white;
    }
    a:hover, a:focus{
      color: $color-menu-active;
    }
  }

}


#block-nihi-sparx-branding{
  float: left;
  margin: 5px 15px 5px 0;

  .desktop-logo{
    max-height: 55px;
  }
}

.mm-panel .dropdown-menu {
  position: relative;
  top: 0;
  display: block;
  border: 0;
  width: 100%;
  box-shadow: 0 0 transparent;
  background: transparent;
}

.mm-listview>li>a, .mm-listview>li>span {
  color: inherit;
  display: block;
  padding: 10px 10px 10px 20px;
  margin: 0;
}

.mm-listview .mm-next-a {
  margin-right: 50px;
}

.nav.mm-listview > li > a:hover, .nav.mm-listview > li > a:focus {
  text-decoration: none;
  background-color: #eee;
  color: #262626;
}
.navbar-header.container {
  #toggle-icon {
    width: 24px;
    height: 22px;
    position: relative;
    margin: 24px 0 15px 0;
    float: right;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;

    span.anim-icon{
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: $color-gray;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
    }

    span:nth-child(1) {
      top: 0px;
    }
    span:nth-child(2) {
      top: 8px;
    }
    span:nth-child(3) {
      top: 16px;
    }
  }
}

.mm-wrapper_opened {
  .navbar-header.container {
    #toggle-icon {
      span:nth-child(1) {
        top: 8px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
      }
      span:nth-child(2) {
        opacity: 0;
        left: -60px;
      }

      span:nth-child(3) {
        top: 8px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
      }
    }
  }
}

.mm-listview {
  .mm-btn_next {
    background: rgba(3, 2, 1, 0);
    width: 50px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
  }

  .mm-btn_next:hover, .mm-btn_next:focus {
    color: #262626;
  }
}

.mm-listview > li > a, .mm-listview > li > span{
  padding: 15px 10px 15px 20px;
  font-family: $font-roboto;
  font-size: 18px;
  color: $color-gray;
}
.mm-btn_next::after,
.mm-btn_prev::before{
  width: 12px;
  height: 12px;
  border-color: $color-gray;
}

.mm-listitem{
  a{
    span.caret{
      display: none;
    }
  }
}

.mm-listitem:after,
.mm-navbar {
  border-color: $color-gray;
}

.mm-listitem__btn:not(.mm-listitem__text){
  border-left-width: 0;
}

/* Mobile Menu Style */
.mm-panel, .mm-panels{
  background: $color-second;
}

.mm-listitem{
  color: $color-white;
}

.mm-panels>.mm-panel>.mm-listview{
  li:nth-child(8){
    background: #39ADD1;
  }
}

.mm-listview>li>a, .mm-listview>li>span{
  text-transform: uppercase;
}


/* Show and Hide Menu items from logged in and anonymous users */


/* Content */

.content{
  /* background: #F8F8FA; */
  background-color: #ffffff;
  padding: 15px 0;

  /* Temporary change */
  margin: 0 auto !important; 

}

/* Splash page */

.splash-page-region {

  text-align: center !important;

  .splash_video {
    width: 100% !important;
    height: auto !important;
  }
 

}



/* Home Page */

#home_page {
  h2 {
    font-family: $font-roboto !important;
    font-weight: lighter !important;
    font-size: 35px !important;
    text-align: center !important;
    color: #1F537E !important;
  }
  h3 {
    font-family: $font-roboto !important;
    font-size: 18pt !important;
    text-align: center !important;
    /* color: #717171 !important; */
  }
}


#home-page-questions{
  width: 100%;
  float: left;
  margin-bottom: 30px;

  h2{
    font-size: 40px;
    color: $color-second;
    font-weight: 300;
    text-align: center;
  }
}

#text-under-main-image-home{
  margin-top: 15px;
  p{
    font-size: 24px;
  }
}

#bigger-text-under-main-image{
  margin-bottom: 30px;
  p{
    color: $color-second;
    font-weight: 500;
  }
}

#home-call-to-action{
  h3{
    color: $color-second;
    font-size: 40px;
    font-weight: 300;
    margin: 40px 0;
  }
  .btn-primary{
    font-size: 24px;
    font-weight: 300;
    border-radius: 6px;
    margin: 15px;
    background-color: $primary-button-color;
    border-color: $primary-button-color;
    padding: 8px 30px;
  }
  .btn-primary:hover,
  .btn-primary:focus{
    background-color: darken($primary-button-color, 5%);
    border-color: ($primary-button-color, 5%);
  }
  .btn-primary.light-purple{
    background-color: $color-light-purple;
    border-color: $color-light-purple;
  }
  .btn-primary.light-purple:hover,
  .btn-primary.light-purple:focus{
    background-color: darken($color-light-purple, 5%);
    border-color: ($color-light-purple, 5%);
  }
}

/* game */
.path-game #block-system-main {
  padding: 0px;
}
.path-game #block-system-main {
  background: transparent;
}
.path-game #block-system-main,
.path-game #sparx-game,
.path-game #unity-player {
  width: 960px;
  height: 600px;
}
.path-game .page-header {
  display: none;
}
@media (max-width: 991px) {
  .content {
    /* padding-top: 60px; */
    padding-top: 100px;
  }
  .header .topbar .logo {
    padding: 0.25em;
    margin: 0;
  }
  .header .topmenu .mainmenu .nav li a {
    padding: 0.5em;
    text-align: center;
  }
  #drop-down-login-wrapper {
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 0;
  }
  .user-logged-in #drop-down-login-wrapper .dropdown ul li {
    padding: 0.5em;
  }
}

/* Style Footer */

#footer-area{
  min-height: 50px;
  /* background: $color-footer-bg; */
  background-color: #F4F4F4;
  margin: 0 auto;
  padding: 30px 5%;

  .sparx_footer_link {
    border-bottom: 1px solid #BFBFBF !important;

  }

  #footer-boxes{
    #footer-logo{
      padding-left: 15px;
    }
    .footer-box {
      padding: 15px;
      background-color: $color-white;
      margin: 15px 0;

      h3{
        color: #626262;
        font-size: 24px;
        font-weight: 100;
        margin: 15px 0;
        min-height: 52px;
      }
      p.footer-box-content{
        font-size: 18px;
        color: #6D6F72;
        min-height: 75px;
      }

      .btn-footer{
        width: 100%;
        text-transform: uppercase;
        font-weight: 100;
        padding: 3px 10px;
        border-radius: 2px;
      }
    }
  }

  p{
    color: #6D6F72;
    font-size: 14px;
  }

  .social-media-logos{
    text-align: right;
    a{
      margin: 5px;
    }
  }

  hr{
    border-top: 1px solid $color-white;
  }

  .footer-menu{
    list-style: none;
    padding-left: 0;
    li{
      a{
        /* color: #6D6F72; */        
        /* text-transform: uppercase; */

        color: #4E82A2;
        font-weight: bold !important;

        @media(min-width: 415px) {
          font-size: 18px;
        }

        @media(max-width: 414px) {
          font-size: 10px;
        }
          
      }
      a:hover, a:focus{
        color: $color-white;
      }
    }
  }
}

.footer_logo_area {

  width: 90%;
  margin-top: 2rem;

  .row {
    border-top: 1px solid #ffffff;
    padding: 2rem;
  }

  img {
    display: inherit;
    max-height: 60px;
  }

}


.socmed_facebook_icon:after {
	font-family: 'FontAwesome';
    content: "\f082"; 
    color: #00008b;
    font-size: 35px;    
}

.socmed_twitter_icon:after {
	font-family: 'FontAwesome';
    content: "\f081"; 
    color: #000000;
    font-size: 35px;    
}

.socmed_youtube_icon:after {
	font-family: 'FontAwesome';
    content: "\f166"; 
    color: #ff0000;
    font-size: 35px;    
}

.socmed_email_icon:after {
	font-family: 'FontAwesome';
    content: "\f199"; 
    color: #000000;
    font-size: 35px;    
}


.copyright{
  p{
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
  }
}

/* Style for Contact Us Form */


/* Style for Contact Us Form - Mobile*/

/* Style for Mood Quiz */

#sparx-moodquiz-form {
  padding: 15px;
  background-color: #E1E8EE;

  .radio label {
    padding-left: 0 !important;
  }

  /*
  ul {
    padding-inline-start: 0 !important;
  }
  */

  .webform-type-radios{
    legend{
      font-size: 20px;
      font-weight: 100;
    }
  }

  .form-item-progressbar {
    h1 {
      display: none;
    }
    .progressbar {
      list-style: none;
      text-align: center;
      li {
        display: none;
      }
      li.current-q {
        display: inline-block;
        color: #39ADD1;
        font-size: 40px;
        font-weight: 500;
      }
    }
  }
  #edit-final-markup{
    margin-top: 30px;
    font-size: 14px;
  }

  .form-type-radio{
    margin: 15px;
    /* float: left; */
    display: inline-block;
  }


  input[type="radio"] {
    display: none;
    &:checked {

      /*
      + .box {
        background-color: $color-main;        
        span {
          color: $color-white;
          
          @media(min-width: 415px) {
            transform: translateY(50px);
          }
          @media(max-width: 414px) {
            transform: translateY(35px);
          }
          
        }
      }
      */

      + .box.option_01 {
        background-color: #7dc855 !important;
        span {
          color: $color-white;
        }
      }
      + .box.option_02 {
        background-color: #53bbb3 !important;
        span {
          color: $color-white;
        }
      }
      + .box.option_03 {
        background-color: #39add1 !important;
        span {
          color: $color-white;
        }
      }
      + .box.option_04 {
        background-color: #358ed7 !important;
        span {
          color: $color-white;
        }
      }


    }
  }
  .box {
    
    @media(min-width: 415px) {
      width: 150px;
      height: 150px;
    }

    @media(max-width: 414px) {
      width: 90px;
      height: 90px;
    }    

    background-color: $color-white;
    transition: all 250ms ease;
    will-change: transition;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    &:active{
      transform: translateY(10px);
    }
    span {
      position: absolute;
      
      left: 0;
      right: 0;
      transition: all 300ms ease;

      @media(min-width: 415px) {
        font-size: 20px;
        transform: translate(0, 48px);
      }

      @media(max-width: 414px) {
        font-size: 12px;
        transform: translate(0, 28px);
      }

      user-select: none;
      color: #696969;
      padding: 5px;
    }
  }

}

.sparx_moodquiz_header {
  color: #39ADD1 !important;
  font-size: 40px !important;
  font-weight: 500 !important;
  text-align: center !important;
}

.moodquiz_progress_bar {
  text-align: center !important;  
  padding-inline-start: 0 !important;
  
  li {
    display: inline-block !important;
    margin: 4pt !important;
    font-size: 40px !important;
    font-weight: 500 !important;
  }
}

#sparx-moodquiz-div {
  text-align: center;
}



#edit-previous, #edit-next {
  margin: 5px !important;
}

.sparx-result-get-help,
.sparx-result-lets-go {

    text-align: center !important;
    background-color: white !important;
    padding: 40px !important;

    h2 {
      font-family: Roboto !important;
      font-weight: bold !important;
      font-size: 25px !important;
      text-align: center !important;      
      color: #39ADD1 !important;
    }

    p {
      font-family: Roboto !important;
      font-weight: lighter !important;
      font-size: 20px !important;
      text-align: left !important;
      color: #43484D !important;
    }

    a.btn {
      font-size: 20px !important;
    }

}

.sparx-result-heading,
.sparx-score {

    text-align: center !important;

    .box {

      background-color: #358ed7 !important;

      @media(min-width: 415px) {
        width: 300px !important;
        height: 300px !important;
      }
  
      @media(max-width: 414px) {
        width: 180px !important;
        height: 180px !important;
      }          
      
      span {

        color: #ffffff !important;
      
        @media(min-width: 415px) {
          font-size: 150px !important;
          padding: 0px !important;
          transform: translate(0, 40px) !important;
        }
  
        @media(max-width: 414px) {
          font-size: 100px !important;        
          transform: translate(0, 15px) !important;
        }
  
      }

    }
    
}

.moodquiz_response {

  padding: 40px !important;
  text-align: left !important;

  li {
    font-size: 15px !important;
  }

  h3 {
    font-family:'IM Fell French Canon' serif;
	  color:#008fd5;
  }

}

.results-region {
    text-align: center !important;
}

#edit-start-quiz{
  font-size: 28px;
  margin-top: 15px;
}

a#hide1,
a#show1 {
    margin: 0 auto !important;
    width: 20rem !important;
}

.results-table,
.show-table,
.hide-table:target {
    display: none;
}

.hide-table:target + .show-table,
.hide-table:target ~ .results-table {
    display: block;
}


#edit-result-table{
  tr.title{
    background-color: $color-footer-bg;
    td{
      padding: 15px;
      font-size: 28px;
    }
  }

  tr{
    td{
      padding: 5px;
    }
  }
}

/* Style for Chat Button */
.chat-btn {
  background: #ec971f;
  border-color: #df8a13;
  border-radius: 6px 6px 0px 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  position: fixed;
  bottom: 0;
  right: 5px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.chat-btn:hover {
  background-color: #eea237;
  border-color: #eea237;
  text-decoration: none;
  color: #ffffff;
}


/* Animations */

@keyframes fadein {
  from{ opacity: 0; }
  to{ opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
  from{ opacity: 0; }
  to{ opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
  from{ opacity: 0; }
  to{ opacity: 1; }
}

@include screen-sm-up() {
  .navbar-nav {
    float: right;
    margin: 15px 0 15px 0;
  }

  #block-webform-2{
    display: block;
  }
  #block-webform{
    display: none;
  }

  #block-homemegaslider{
    display: block;
  }
  #block-homemegaslidermobile{
    display: none;
  }
  #block-homepagevideo {
    padding: 15px 0 0 0;
  }
  #block-homepagecontent {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-collapse{
    padding-left: 0;
    padding-right: 0;
  }
}

@include screen-sm-up() {

  .responsive-menu-block-wrapper .horizontal-menu > li:nth-child(8) {
    display: none;
  }

/*
  .responsive-menu-block-wrapper .horizontal-menu > li:nth-child(8) {
    display: inline-block;
  }

  .user-logged-in {
    .responsive-menu-block-wrapper .horizontal-menu > li:nth-child(7) {
      display: inline-block;
    }
    .responsive-menu-block-wrapper .horizontal-menu > li:nth-child(8) {
      display: none;
    }
  }
*/
}

@include screen-sm-down() {
  #need-help-now-btn{
    display: none;
  }

  .top-bar{
    float: left;
    width: 50%;
  }

  #navbar{
    float: right;
  }

  .path-frontpage h1.page-header{
    font-size: 40px;
    text-align: left;
  }

  #home-page-questions{
    h2{
      font-size: 25px;
      text-align: left;
      margin: 8px 0 8px -15px;
    }
  }

  #home-main-picture{
    img{

    }
  }

  #block-webform-2{
    display: none;
  }
  #block-webform{
    display: block;
  }
  .footer{
    p{
      font-size: 12px;
    }
  }

  .footer{
    padding-left: 10%;
    padding-right: 10%;
  }

  .main-container{
    article,
    .page-header{
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

@include screen-xs-down() {
  .footer #second-half-footer{
    display: none;
  }

  .navbar-default{
    margin-bottom: 0;
  }

  .mm-btn_next:after{
    right: 10px;
  }
}

/* For smaller screen */
@media (max-width: 420px) {
  #block-homemegaslidermobile {

    .md-objects {
      .md-object {
        h1{
          font-size: 36px;
          line-height: 40px;
        }

        h2{
          font-size: 28px;
          line-height: 32px;
        }
      }

      .md-object:nth-child(1) {
        top: unset !important;
        bottom: 275px !important;
      }
    }
  }
}
/* Form small screen */
@media (max-width: 320px) {
  h1{
    font-size: 35px;
    line-height: 35px;
  }

  h2{
    font-size: 24px;
    line-height: 28px;
  }

  a#need-help-now{
    font-size: 24px;
    line-height: 16px !important;
  }
}


/* Additional styles */

@media (min-width: 1200px) {
  .container {
    width: 970px !important;
  }
}

.padded_content {
  margin-left: 30px;
  margin-right: 30px;
}

.separator {
  margin-bottom: 1rem !important;
}

.btn {
  /* Enable word wrap on Bootstrap buttons */
  white-space: normal !important;
}

.light_blue_button {
  width: 100% !important;
  line-height: 40px;
  background-color: #39ADD1 !important;
  color: #FFFFFF !important;

  @media(max-width: 414px) {
    font-size: 12pt !important;
  }
  @media(min-width: 415px) {
    font-size: 18pt !important;
  }

  font-family: Roboto !important;
  font-weight: 400 !important;
}

.green_button {
  width: 100% !important;
  line-height: 40px;
  background-color: #3F9625 !important;
  color: #FFFFFF !important;

  @media(max-width: 414px) {
    font-size: 12pt !important;
  }
  @media(min-width: 415px) {
    font-size: 18pt !important;
  }

  font-family: Roboto !important;
  font-weight: 400 !important;
}

.purple_button {
  width: 100% !important;
  line-height: 40px;
  background-color: #7E1F73 !important;
  color: #FFFFFF !important;

  @media(max-width: 414px) {
    font-size: 12pt !important;
  }
  @media(min-width: 415px) {
    font-size: 18pt !important;
  }

  font-family: Roboto !important;
  font-weight: 400 !important;
}

.mobile_help_button {
  background-color: #7E1F73 !important;
  color: #FFFFFF !important;
  font-size: 12px !important;
  border-radius: 14pt !important;
}


.collapse_link {
display: block !important;
}

.panel {
  border: 0 !important;
  border-bottom: 2px solid #ccd7e2 !important;

  .panel-body {
    p {
      font-size: smaller !important;
    }
  }

}

.panel-heading {
  position: relative;
  background: linear-gradient(180deg, #FFFFFF00, #358ED72E);
}
.panel-heading a[data-toggle="collapse"]:after {
  font-family: 'FontAwesome';
  /* "chevron" icon */
  content: "\f077";
  position: absolute;
  color: #b0c5d8;
  font-size: 15px;
  line-height: 22px;
  right: 10px;
  top: calc(90% - 15px);  
}
.panel-heading a[data-toggle="collapse"].collapsed:after {
  /* rotate "chevron" icon from v (right arrow) to ^ (up arrow) */
  -webkit-transform: rotate(180deg);
  -moz-transform:    rotate(180deg);
  -ms-transform:     rotate(180deg);
  -o-transform:      rotate(180deg);
  transform:         rotate(180deg);
}




.iframe-container {
overflow: hidden !important;
/* Calculated from the aspect ration of the content (in case of 16:9 it is 9/16= 0.5625) */
padding-top: 56.25% !important;
position: relative !important;
}

.iframe-container iframe {
border: 0 !important;
height: 100% !important;
left: 0 !important;
position: absolute !important;
top: 0 !important;
width: 100% !important;
}

.responsive_video,
.centered_image {
width: 100% !important;
height: auto !important;
}

.in_middle {        
flex-direction: column !important;
justify-content: center !important;
align-items: center !important;
display: flex !important;
height: 100vh !important;
}

#hauora_01 {
background-image: url('/sites/default/files/inline-images/hauora_visuals_kowhaiwhai_1.png') !important;
background-color: black !important;
background-size: cover !important;
color: white !important;
max-height: 30rem !important;

}

#hauora_02 {
background-image: url('/sites/default/files/inline-images/hauora_visuals_kowhaiwhai_2.png') !important;
background-color: black !important;
background-size: cover !important;
color: white !important;
max-height: 35rem !important;
}

#hauora_03 {
background-color: #EAE2CC !important;
color: black !important;
max-height: 25rem !important;
}

.blue_bg {
  background-color: #358ED7 !important;
  color: #ffffff !important;
}

.lightgray_bg {
background-color: #E1E8EE !important;
color: white !important;
}

.purple_bg {
background-color: #7E1F73 !important;
color: white !important;
padding: 1rem !important;
  h1 {
    text-align: center !important;
    color: white !important;
    margin-top: 0 !important;
    font-weight: bold !important;
  }
}

.tan_bg {
background-color: #EAE2CC !important;
color: black !important;
padding: 1rem !important;
  h2 {
    text-align: center !important;
    color: #522424 !important;
    margin-top: 10px !important;
    font-weight: bold !important;
  }
}

.gold_text {
  color: #F0D716 !important;
}

.purple_text {
  color: #7E1F73 !important;
}

.dark_purple_text {
  color: #1F537E !important;
}

.white_text {
  color: #ffffff !important;
}

.gray_text {
  color: #86939E !important;
}

.light_gray_text {
  color: #717171 !important;
}

.sub-nav {
background-color: #E1E8EE !important;
width: 10em !important;
}

.sub-nav .menu-item {
background-color: #A1B3C6 !important;
color: white !important;
margin: 1px !important;
}

#contact_us {
  
  h4 {
    font-family: Roboto !important;
    font-weight: 400 !important;
    font-size: 18pt !important;
    text-align: left !important;
    color: #1F537E !important;
  }

  p {
    font-family: Roboto !important;
    font-weight: lighter !important;
    font-size: 15pt !important;
    text-align: left !important;
    color: #717171 !important;
  }

}


.guide_intro {
	width: 90% !important;
}
.greeting_row {
	@media(min-width: 415px) {
    height: 280px !important;
  }
}
.row_align_bottom {
	display: flex !important;
	align-items: flex-end !important;
}

.row_align_center {
  display: flex !important;
	align-items: center !important;
}

.guide_greeting {
  text-align: center !important;	
  h1 {
    font-size: 40px !important;
    font-weight: lighter !important;	
  }
}
.guide_image {
	margin: 0 !important;
	padding: 0 !important;
}
.speech_bubble {
	padding: 15px !important;
	background-color: #358ED7 !important;
	color: #ffffff !important;
	border-radius: 14pt !important;
	font-size: 19pt !important;
	text-align: center !important;
}
.triangle_bottomright {
	width: 30px !important;
	height: 30px !important;
	border-bottom: 30px solid #358ED7 !important;
	border-left: 30px solid transparent !important;
}

.how_you_feeling {
  margin: 0 !important;
  padding: 0 !important;
}

.take_control {
  margin: 0 !important;
  padding: 0 !important;

  p {
    font-size: 16px;
  }
  
  h3 {
    margin-top: 10px !important;    
    color: white !important;
  }

}


.image_holder {
    position: relative;
    margin-bottom: 1rem;
}

.image_caption_bottom_left {
    position: absolute;
    bottom: 8px;
    left: 10px;
    color: #ffffff; 
    font-size: 14px;
}


.text_block {
  padding-top: 1rem !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  padding-bottom: 1rem !important;

  h2 {
    text-align: center !important;
  }

}

#bullet_points {
  height: 15rem;
}

.angry_sad_container {
  background-color: #009cdc; 
  padding: 2rem;
}

.desktop-guide-text {
  @media(min-width: 415px) {
    padding-bottom: 25%;
  }

}

.desktop-guide-button {
  @media(max-width: 414px) {
    padding-bottom: 55%;
  }
  @media(min-width: 415px) {
    padding-bottom: 45%;
  }
}