@import "colors";

// Default variables.
@import "default-variables";

// Bootstrap Framework.
@import "../bootstrap/assets/stylesheets/bootstrap";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;500&display=swap');
@import "../assets/fonts/font-awesome/scss/font-awesome.scss";

@import "media-queries";
@import "fonts";
@import 'nihi';
