{#
/**
 * @file
 * Template for login drop down.
 *
 * Available variables
 * - $login_form (array): renderable login form array
 * - $login_url: url for login button/link
 * - $login_link_text: logout button/link text.
 */
#}

<div class="drop-down-login-container" id="drop-down-login-wrapper">
    <a href="{{ login_url }}" class="login button_dd">
        <span><span> {{ login_link_text }} </span></span>
    </a>
    <div class="dropdown" style="display: none;">
        {% if login_form %}
            {{ login_form|without('user_links') }}
        {% endif %}
    </div>
</div>
